<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_metadata</key>
	<dict>
		<key>created_by</key>
		<string>runner</string>
		<key>creation_date</key>
		<date>2023-06-21T22:16:39Z</date>
		<key>munki_version</key>
		<string>6.3.1.4580</string>
		<key>os_version</key>
		<string>12.6.6</string>
	</dict>
	<key>autoremove</key>
	<false/>
	<key>blocking_applications</key>
	<array>
		<string>Adobe Acrobat Pro.app</string>
		<string>Adobe Acrobat Reader DC.app</string>
		<string>Adobe Acrobat Reader.app</string>
		<string>Adobe Acrobat.app</string>
		<string>Adobe Reader.app</string>
	</array>
	<key>catalogs</key>
	<array>
		<string>test</string>
	</array>
	<key>category</key>
	<string>Productivity</string>
	<key>description</key>
	<string>Adobe Reader is the global standard for reliably viewing, printing, and commenting on PDF documents. It's the only PDF file viewer that can open and interact with all types of PDF content, including forms and multimedia.</string>
	<key>developer</key>
	<string>Adobe</string>
	<key>display_name</key>
	<string>Adobe Reader</string>
	<key>installed_size</key>
	<integer>386570</integer>
	<key>installer_item_hash</key>
	<string>c480a66d663a9e4de412f6644eeb934ed71a27387d85713a419831809505dd6c</string>
	<key>installer_item_location</key>
	<string>AdobeReaderDC-23.003.20201.dmg</string>
	<key>installer_item_size</key>
	<integer>389924</integer>
	<key>installs</key>
	<array>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.adobe.Reader</string>
			<key>CFBundleName</key>
			<string>Acrobat Reader</string>
			<key>CFBundleShortVersionString</key>
			<string>23.003.20201</string>
			<key>CFBundleVersion</key>
			<string>23.003.20201</string>
			<key>minosversion</key>
			<string>10.13</string>
			<key>path</key>
			<string>/Applications/Adobe Acrobat Reader.app</string>
			<key>type</key>
			<string>application</string>
			<key>version_comparison_key</key>
			<string>CFBundleShortVersionString</string>
		</dict>
	</array>
	<key>minimum_os_version</key>
	<string>10.15.0</string>
	<key>name</key>
	<string>AdobeReaderDC</string>
	<key>preinstall_script</key>
	<string>#!/bin/sh
if [ -e "/Applications/Adobe Acrobat Reader.app" ]; then
	rm -r "/Applications/Adobe Acrobat Reader.app"
fi
if [ -e "/Applications/Adobe Acrobat Reader DC.app" ]; then
	rm -r "/Applications/Adobe Acrobat Reader DC.app"
fi
exit 0
</string>
	<key>receipts</key>
	<array>
		<dict>
			<key>installed_size</key>
			<integer>286351</integer>
			<key>packageid</key>
			<string>com.adobe.acrobat.DC.reader.app.pkg.MUI</string>
			<key>version</key>
			<string>23.003.20201</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>98872</integer>
			<key>packageid</key>
			<string>com.adobe.acrobat.DC.reader.appsupport.pkg.MUI</string>
			<key>version</key>
			<string>23.003.20201</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>1347</integer>
			<key>packageid</key>
			<string>com.adobe.armdc.app.pkg</string>
			<key>version</key>
			<string>1.0.0</string>
		</dict>
	</array>
	<key>unattended_install</key>
	<true/>
	<key>uninstall_method</key>
	<string>removepackages</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>23.003.20201</string>
</dict>
</plist>
