<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_metadata</key>
	<dict>
		<key>created_by</key>
		<string>runner</string>
		<key>creation_date</key>
		<date>2023-06-22T15:31:47Z</date>
		<key>munki_version</key>
		<string>6.3.1.4580</string>
		<key>os_version</key>
		<string>12.6.6</string>
	</dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>test</string>
	</array>
	<key>category</key>
	<string>Text Editors</string>
	<key>description</key>
	<string>BBEdit is the leading professional HTML and text editor for the Mac. Specifically crafted in response to the needs of Web authors and software developers, this award-winning product provides a plethora of features for editing, searching, and manipulation of text. BBEdit transforms text with high performance.</string>
	<key>developer</key>
	<string>Bare Bones Software</string>
	<key>display_name</key>
	<string>BBEdit</string>
	<key>installer_item_hash</key>
	<string>f25b102929dbc4730236c984b9f141a937b8a559f9d5f28ee08b175a5d5bc8cb</string>
	<key>installer_item_location</key>
	<string>BBEdit-14.6.6.dmg</string>
	<key>installer_item_size</key>
	<integer>23660</integer>
	<key>installer_type</key>
	<string>copy_from_dmg</string>
	<key>installs</key>
	<array>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.barebones.bbedit</string>
			<key>CFBundleName</key>
			<string>BBEdit</string>
			<key>CFBundleShortVersionString</key>
			<string>14.6.6</string>
			<key>CFBundleVersion</key>
			<string>41800078</string>
			<key>minosversion</key>
			<string>10.15.4</string>
			<key>path</key>
			<string>/Applications/BBEdit.app</string>
			<key>type</key>
			<string>application</string>
			<key>version_comparison_key</key>
			<string>CFBundleShortVersionString</string>
		</dict>
	</array>
	<key>items_to_copy</key>
	<array>
		<dict>
			<key>destination_path</key>
			<string>/Applications</string>
			<key>source_item</key>
			<string>BBEdit.app</string>
		</dict>
	</array>
	<key>minimum_os_version</key>
	<string>10.15.5</string>
	<key>name</key>
	<string>BBEdit</string>
	<key>postinstall_script</key>
	<string>#!/bin/sh
# Copy command-line tool resources out of .app bundle
CMD_TOOL_DIR=/usr/local/bin
CMD_MAN_DIR=/usr/local/share/man/man1
HELPER_BIN_SRC_DIR=/Applications/BBEdit.app/Contents/Helpers
HELPER_MAN_SRC_DIR=/Applications/BBEdit.app/Contents/Resources
LN=/bin/ln

# create dirs if they don't already exist
for DIR in "$CMD_TOOL_DIR" "$CMD_MAN_DIR"; do
	[ -d "$DIR" ] || mkdir -p -m 775 "$DIR"
done
# make symlinks to binaries and manpages
for TOOL in bbdiff bbfind bbresults; do
	"$LN" -sf "$HELPER_BIN_SRC_DIR/$TOOL" "$CMD_TOOL_DIR/$TOOL"
	"$LN" -sf "$HELPER_MAN_SRC_DIR/$TOOL.1" "$CMD_MAN_DIR/$TOOL.1"
done
"$LN" -sf "$HELPER_BIN_SRC_DIR/bbedit_tool" "$CMD_TOOL_DIR/bbedit"
"$LN" -sf "$HELPER_MAN_SRC_DIR/bbedit.1" "$CMD_MAN_DIR/bbedit.1"
current_user=$(/usr/local/munki/munki-python -c 'from SystemConfiguration import SCDynamicStoreCopyConsoleUser; import sys; username = (SCDynamicStoreCopyConsoleUser(None, None, None) or [None])[0]; username = [username,""][username in [u"loginwindow", None, u""]]; sys.stdout.write(username + "\n");')
/usr/sbin/chown -R $current_user:admin "/Applications/BBEdit.app"
			</string>
	<key>unattended_install</key>
	<true/>
	<key>uninstall_method</key>
	<string>remove_copied_items</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>14.6.6</string>
</dict>
</plist>
