<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_metadata</key>
	<dict>
		<key>created_by</key>
		<string>runner</string>
		<key>creation_date</key>
		<date>2023-06-30T19:57:23Z</date>
		<key>munki_version</key>
		<string>6.3.1.4580</string>
		<key>os_version</key>
		<string>12.6.7</string>
	</dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>test</string>
	</array>
	<key>category</key>
	<string>Graphics</string>
	<key>description</key>
	<string>Blender is the open source, cross platform suite of tools for 3D creation.</string>
	<key>developer</key>
	<string>The Blender Foundation</string>
	<key>display_name</key>
	<string>Blender</string>
	<key>installer_item_hash</key>
	<string>9534dd39b764e11314da968043a982b5259741ecac55432c86aae3976defc183</string>
	<key>installer_item_location</key>
	<string>Blender-3.6.0.dmg</string>
	<key>installer_item_size</key>
	<integer>271046</integer>
	<key>installer_type</key>
	<string>copy_from_dmg</string>
	<key>installs</key>
	<array>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>org.blenderfoundation.blender</string>
			<key>CFBundleName</key>
			<string>Blender</string>
			<key>CFBundleShortVersionString</key>
			<string>3.6.0</string>
			<key>CFBundleVersion</key>
			<string>3.6.0 2023-06-27</string>
			<key>minosversion</key>
			<string>10.13</string>
			<key>path</key>
			<string>/Applications/Blender.app</string>
			<key>type</key>
			<string>application</string>
			<key>version_comparison_key</key>
			<string>CFBundleShortVersionString</string>
		</dict>
	</array>
	<key>items_to_copy</key>
	<array>
		<dict>
			<key>destination_path</key>
			<string>/Applications</string>
			<key>source_item</key>
			<string>Blender.app</string>
		</dict>
	</array>
	<key>minimum_os_version</key>
	<string>10.13</string>
	<key>name</key>
	<string>Blender</string>
	<key>unattended_install</key>
	<true/>
	<key>uninstall_method</key>
	<string>remove_copied_items</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>3.6.0</string>
</dict>
</plist>
