<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_metadata</key>
	<dict>
		<key>created_by</key>
		<string>runner</string>
		<key>creation_date</key>
		<date>2023-06-21T22:26:50Z</date>
		<key>munki_version</key>
		<string>6.3.1.4580</string>
		<key>os_version</key>
		<string>12.6.6</string>
	</dict>
	<key>autoremove</key>
	<false/>
	<key>blocking_applications</key>
	<array>
		<string>Blue Jeans.app/Contents/MacOS/Blue Jeans</string>
		<string>BlueJeans.app/Contents/MacOS/BlueJeans</string>
	</array>
	<key>catalogs</key>
	<array>
		<string>test</string>
	</array>
	<key>category</key>
	<string>Communication</string>
	<key>description</key>
	<string>BlueJeans video conferencing application.</string>
	<key>developer</key>
	<string>Blue Jeans Network</string>
	<key>display_name</key>
	<string>BlueJeans</string>
	<key>installer_item_hash</key>
	<string>a0f1bf836f8dc0dfc3788487c55a7c252bb47256f1d7cedc200b7b28222e78bb</string>
	<key>installer_item_location</key>
	<string>BlueJeans-2.44.0.210.dmg</string>
	<key>installer_item_size</key>
	<integer>63261</integer>
	<key>installer_type</key>
	<string>copy_from_dmg</string>
	<key>installs</key>
	<array>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.bluejeansnet.Blue</string>
			<key>CFBundleName</key>
			<string>BlueJeans</string>
			<key>CFBundleShortVersionString</key>
			<string>2.44.0</string>
			<key>CFBundleVersion</key>
			<string>2.44.0.210</string>
			<key>minosversion</key>
			<string>10.15</string>
			<key>path</key>
			<string>/Applications/BlueJeans.app</string>
			<key>type</key>
			<string>application</string>
			<key>version_comparison_key</key>
			<string>CFBundleVersion</string>
		</dict>
	</array>
	<key>items_to_copy</key>
	<array>
		<dict>
			<key>destination_path</key>
			<string>/Applications</string>
			<key>source_item</key>
			<string>BlueJeans.app</string>
		</dict>
	</array>
	<key>minimum_os_version</key>
	<string>10.15</string>
	<key>name</key>
	<string>BlueJeans</string>
	<key>postinstall_script</key>
	<string>#!/bin/bash
# Install BlueJeans audio driver and privileged helper tool
HELPER_SRC="/Applications/BlueJeans.app/Contents/Library/LaunchServices/com.bluejeansnet.PrivilegedHelper"
HELPER_DST="/Library/PrivilegedHelperTools/com.bluejeansnet.PrivilegedHelper"
if [[ -f $HELPER_SRC ]]; then
    /bin/mkdir -pv "/Library/PrivilegedHelperTools/"
    /bin/cp -v "$HELPER_SRC" "$HELPER_DST"
fi
DRIVER_SRC="/Applications/BlueJeans.app/Contents/Resources/BlueJeans Audio.driver"
DRIVER_DST="/Library/Audio/Plug-Ins/HAL/BlueJeans Audio.driver"
if [[ -d $DRIVER_SRC ]]; then
    /bin/mkdir -pv "/Library/Audio/Plug-Ins/HAL/"
    /bin/cp -Rv "$DRIVER_SRC" "$DRIVER_DST"
fi
exit 0
</string>
	<key>postuninstall_script</key>
	<string>#!/bin/bash
/bin/rm -f "/Library/PrivilegedHelperTools/com.bluejeansnet.PrivilegedHelper"
/bin/rm -rf "/Library/Audio/Plug-Ins/HAL/BlueJeans Audio.driver"
</string>
	<key>preinstall_script</key>
	<string>#!/bin/bash
# Remove any existing 1.x version of "Blue Jeans.app"
/bin/rm -rf "/Applications/Blue Jeans.app"
</string>
	<key>unattended_install</key>
	<true/>
	<key>uninstall_method</key>
	<string>remove_copied_items</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>2.44.0.210</string>
</dict>
</plist>
