<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_metadata</key>
	<dict>
		<key>created_by</key>
		<string>runner</string>
		<key>creation_date</key>
		<date>2023-05-05T14:51:02Z</date>
		<key>munki_version</key>
		<string>6.3.1.4580</string>
		<key>os_version</key>
		<string>12.6.5</string>
	</dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>test</string>
	</array>
	<key>category</key>
	<string>Graphics</string>
	<key>description</key>
	<string>3D modeling, rendering and animation package.</string>
	<key>developer</key>
	<string>Martin Wengenmayer</string>
	<key>display_name</key>
	<string>Cheetah3D</string>
	<key>installer_item_hash</key>
	<string>d0878db9e6b251b7a3680b74f2d369287d69c0ab3690f29b4f47fa4106733b20</string>
	<key>installer_item_location</key>
	<string>Cheetah3D-7.5.3.dmg</string>
	<key>installer_item_size</key>
	<integer>26501</integer>
	<key>installer_type</key>
	<string>copy_from_dmg</string>
	<key>installs</key>
	<array>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>de.wengenmayer.Cheetah3D</string>
			<key>CFBundleName</key>
			<string>Cheetah3D</string>
			<key>CFBundleShortVersionString</key>
			<string>7.5.3</string>
			<key>CFBundleVersion</key>
			<string>7.5.3</string>
			<key>minosversion</key>
			<string>10.8</string>
			<key>path</key>
			<string>/Applications/Cheetah3D.app</string>
			<key>type</key>
			<string>application</string>
			<key>version_comparison_key</key>
			<string>CFBundleShortVersionString</string>
		</dict>
	</array>
	<key>items_to_copy</key>
	<array>
		<dict>
			<key>destination_path</key>
			<string>/Applications</string>
			<key>source_item</key>
			<string>Cheetah3D.app</string>
		</dict>
	</array>
	<key>minimum_os_version</key>
	<string>10.8</string>
	<key>name</key>
	<string>Cheetah3D</string>
	<key>unattended_install</key>
	<true/>
	<key>uninstall_method</key>
	<string>remove_copied_items</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>7.5.3</string>
</dict>
</plist>
