<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_metadata</key>
	<dict>
		<key>created_by</key>
		<string>runner</string>
		<key>creation_date</key>
		<date>2023-06-21T22:34:43Z</date>
		<key>munki_version</key>
		<string>6.3.1.4580</string>
		<key>os_version</key>
		<string>12.6.6</string>
	</dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>test</string>
	</array>
	<key>category</key>
	<string>Graphics</string>
	<key>description</key>
	<string>Design, prototype, and gather feedback all in one place with Figma.</string>
	<key>developer</key>
	<string>Figma</string>
	<key>display_name</key>
	<string>Figma</string>
	<key>installer_item_hash</key>
	<string>327f6e67be432c18c65febd95bd8eec24b2a1e9864d58a67e8ad625193c11c0b</string>
	<key>installer_item_location</key>
	<string>Figma-116.10.8.dmg</string>
	<key>installer_item_size</key>
	<integer>98578</integer>
	<key>installer_type</key>
	<string>copy_from_dmg</string>
	<key>installs</key>
	<array>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.figma.Desktop</string>
			<key>CFBundleName</key>
			<string>Figma</string>
			<key>CFBundleShortVersionString</key>
			<string>116.10.8</string>
			<key>CFBundleVersion</key>
			<string>116.10.8</string>
			<key>minosversion</key>
			<string>10.12.0</string>
			<key>path</key>
			<string>/Applications/Figma.app</string>
			<key>type</key>
			<string>application</string>
			<key>version_comparison_key</key>
			<string>CFBundleShortVersionString</string>
		</dict>
	</array>
	<key>items_to_copy</key>
	<array>
		<dict>
			<key>destination_path</key>
			<string>/Applications</string>
			<key>source_item</key>
			<string>Figma.app</string>
		</dict>
	</array>
	<key>minimum_os_version</key>
	<string>10.12.0</string>
	<key>name</key>
	<string>Figma</string>
	<key>supported_architectures</key>
	<array>
		<string>x86_64</string>
	</array>
	<key>unattended_install</key>
	<true/>
	<key>uninstall_method</key>
	<string>remove_copied_items</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>116.10.8</string>
</dict>
</plist>
