<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_metadata</key>
	<dict>
		<key>created_by</key>
		<string>runner</string>
		<key>creation_date</key>
		<date>2023-06-21T22:35:34Z</date>
		<key>munki_version</key>
		<string>6.3.1.4580</string>
		<key>os_version</key>
		<string>12.6.6</string>
	</dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>testing</string>
	</array>
	<key>category</key>
	<string>Web Browsers</string>
	<key>description</key>
	<string>Mozilla Firefox is a free and open source web browser.</string>
	<key>developer</key>
	<string>Mozilla</string>
	<key>display_name</key>
	<string>Mozilla Firefox</string>
	<key>installer_item_hash</key>
	<string>3174fcf7ae7805ab50c3bc12604ae468efcf2168bdd4e44ae91dffd2a1283063</string>
	<key>installer_item_location</key>
	<string>Firefox-114.0.2.dmg</string>
	<key>installer_item_size</key>
	<integer>130178</integer>
	<key>installer_type</key>
	<string>copy_from_dmg</string>
	<key>installs</key>
	<array>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>org.mozilla.firefox</string>
			<key>CFBundleName</key>
			<string>Firefox</string>
			<key>CFBundleShortVersionString</key>
			<string>114.0.2</string>
			<key>CFBundleVersion</key>
			<string>11423.6.19</string>
			<key>minosversion</key>
			<string>10.12.0</string>
			<key>path</key>
			<string>/Applications/Firefox.app</string>
			<key>type</key>
			<string>application</string>
			<key>version_comparison_key</key>
			<string>CFBundleShortVersionString</string>
		</dict>
	</array>
	<key>items_to_copy</key>
	<array>
		<dict>
			<key>destination_path</key>
			<string>/Applications</string>
			<key>source_item</key>
			<string>Firefox.app</string>
		</dict>
	</array>
	<key>minimum_os_version</key>
	<string>10.12.0</string>
	<key>name</key>
	<string>Firefox</string>
	<key>postinstall_script</key>
	<string>#!/bin/bash
current_user=$(/usr/bin/stat -f "%Su" /dev/console)
/usr/sbin/chown -R $current_user:admin "/Applications/Firefox.app"</string>
	<key>unattended_install</key>
	<true/>
	<key>uninstall_method</key>
	<string>remove_copied_items</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>114.0.2</string>
</dict>
</plist>
