<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_metadata</key>
	<dict>
		<key>created_by</key>
		<string>runner</string>
		<key>creation_date</key>
		<date>2023-05-17T13:46:53Z</date>
		<key>munki_version</key>
		<string>6.3.1.4580</string>
		<key>os_version</key>
		<string>12.6.5</string>
	</dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>testing</string>
	</array>
	<key>category</key>
	<string>Web Browsers</string>
	<key>description</key>
	<string>Mozilla Firefox is a free and open source web browser.</string>
	<key>developer</key>
	<string>Mozilla</string>
	<key>display_name</key>
	<string>Mozilla Firefox</string>
	<key>installer_item_hash</key>
	<string>9556a573435887378246e9df6ca27f719f7690f9a89155a4f2b5607c4b8240b9</string>
	<key>installer_item_location</key>
	<string>Firefox-113.0.1.dmg</string>
	<key>installer_item_size</key>
	<integer>130022</integer>
	<key>installer_type</key>
	<string>copy_from_dmg</string>
	<key>installs</key>
	<array>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>org.mozilla.firefox</string>
			<key>CFBundleName</key>
			<string>Firefox</string>
			<key>CFBundleShortVersionString</key>
			<string>113.0.1</string>
			<key>CFBundleVersion</key>
			<string>11323.5.11</string>
			<key>minosversion</key>
			<string>10.12.0</string>
			<key>path</key>
			<string>/Applications/Firefox.app</string>
			<key>type</key>
			<string>application</string>
			<key>version_comparison_key</key>
			<string>CFBundleShortVersionString</string>
		</dict>
	</array>
	<key>items_to_copy</key>
	<array>
		<dict>
			<key>destination_path</key>
			<string>/Applications</string>
			<key>source_item</key>
			<string>Firefox.app</string>
		</dict>
	</array>
	<key>minimum_os_version</key>
	<string>10.12.0</string>
	<key>name</key>
	<string>Firefox</string>
	<key>postinstall_script</key>
	<string>#!/bin/bash
current_user=$(/usr/bin/stat -f "%Su" /dev/console)
/usr/sbin/chown -R $current_user:admin "/Applications/Firefox.app"</string>
	<key>unattended_install</key>
	<true/>
	<key>uninstall_method</key>
	<string>remove_copied_items</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>113.0.1</string>
</dict>
</plist>
