<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_metadata</key>
	<dict>
		<key>created_by</key>
		<string>runner</string>
		<key>creation_date</key>
		<date>2023-05-05T14:51:12Z</date>
		<key>munki_version</key>
		<string>6.3.1.4580</string>
		<key>os_version</key>
		<string>12.6.5</string>
	</dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>test</string>
	</array>
	<key>category</key>
	<string>Development</string>
	<key>description</key>
	<string>Fork is a fast and friendly git client for Mac</string>
	<key>developer</key>
	<string>Dan Pristupov</string>
	<key>display_name</key>
	<string>Fork</string>
	<key>installer_item_hash</key>
	<string>612d1cc75f87e55825cb211e76ce75df02aec1bb460bc8a62a51e37cd7f94513</string>
	<key>installer_item_location</key>
	<string>Fork-2.28.1.dmg</string>
	<key>installer_item_size</key>
	<integer>47652</integer>
	<key>installer_type</key>
	<string>copy_from_dmg</string>
	<key>installs</key>
	<array>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.DanPristupov.Fork</string>
			<key>CFBundleName</key>
			<string>Fork</string>
			<key>CFBundleShortVersionString</key>
			<string>2.28.1</string>
			<key>CFBundleVersion</key>
			<string>2.28.1</string>
			<key>minosversion</key>
			<string>10.13</string>
			<key>path</key>
			<string>/Applications/Fork.app</string>
			<key>type</key>
			<string>application</string>
			<key>version_comparison_key</key>
			<string>CFBundleShortVersionString</string>
		</dict>
	</array>
	<key>items_to_copy</key>
	<array>
		<dict>
			<key>destination_path</key>
			<string>/Applications</string>
			<key>source_item</key>
			<string>Fork.app</string>
		</dict>
	</array>
	<key>minimum_os_version</key>
	<string>10.13</string>
	<key>name</key>
	<string>Fork</string>
	<key>preinstall_alert</key>
	<dict>
		<key>alert_detail</key>
		<string>You must contact IT Support to request a license for this software.</string>
		<key>alert_title</key>
		<string>Licensed Software</string>
		<key>cancel_label</key>
		<string>Cancel</string>
		<key>ok_label</key>
		<string>Install</string>
	</dict>
	<key>unattended_install</key>
	<true/>
	<key>unattended_uninstall</key>
	<true/>
	<key>uninstall_method</key>
	<string>remove_copied_items</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>2.28.1</string>
</dict>
</plist>
