<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_metadata</key>
	<dict>
		<key>created_by</key>
		<string>runner</string>
		<key>creation_date</key>
		<date>2023-05-05T14:52:18Z</date>
		<key>munki_version</key>
		<string>6.3.1.4580</string>
		<key>os_version</key>
		<string>12.6.5</string>
	</dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>test</string>
	</array>
	<key>category</key>
	<string>Graphics</string>
	<key>description</key>
	<string>GIMP is the GNU Image Manipulation Program. It is a freely distributed piece of software for such tasks as photo retouching, image composition and image authoring. It works on many operating systems, in many languages.</string>
	<key>developer</key>
	<string>The GIMP Team</string>
	<key>display_name</key>
	<string>GIMP</string>
	<key>installer_item_hash</key>
	<string>a64755af34b1ce95d99de5973018b3c131016a111d0c755ac297054276a85407</string>
	<key>installer_item_location</key>
	<string>GIMP-2.10.34.dmg</string>
	<key>installer_item_size</key>
	<integer>298155</integer>
	<key>installer_type</key>
	<string>copy_from_dmg</string>
	<key>installs</key>
	<array>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>org.gimp.gimp-2.10</string>
			<key>CFBundleName</key>
			<string>GIMP</string>
			<key>CFBundleShortVersionString</key>
			<string>2.10.34</string>
			<key>CFBundleVersion</key>
			<string>2.10.34</string>
			<key>minosversion</key>
			<string>10.12</string>
			<key>path</key>
			<string>/Applications/GIMP.app</string>
			<key>type</key>
			<string>application</string>
			<key>version_comparison_key</key>
			<string>CFBundleShortVersionString</string>
		</dict>
	</array>
	<key>items_to_copy</key>
	<array>
		<dict>
			<key>destination_item</key>
			<string>GIMP.app</string>
			<key>destination_path</key>
			<string>/Applications</string>
			<key>source_item</key>
			<string>GIMP.app</string>
		</dict>
	</array>
	<key>minimum_os_version</key>
	<string>10.12</string>
	<key>name</key>
	<string>GIMP</string>
	<key>supported_architectures</key>
	<array>
		<string>x86_64</string>
	</array>
	<key>unattended_install</key>
	<true/>
	<key>unattended_uninstall</key>
	<true/>
	<key>uninstall_method</key>
	<string>remove_copied_items</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>2.10.34</string>
</dict>
</plist>
