<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_metadata</key>
	<dict>
		<key>created_by</key>
		<string>runner</string>
		<key>creation_date</key>
		<date>2023-05-05T14:53:07Z</date>
		<key>munki_version</key>
		<string>6.3.1.4580</string>
		<key>os_version</key>
		<string>12.6.5</string>
	</dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>test</string>
	</array>
	<key>category</key>
	<string>Development</string>
	<key>description</key>
	<string>Desktop app made by GitHub for seamless contribution to git projects.</string>
	<key>developer</key>
	<string>GitHub, Inc.</string>
	<key>display_name</key>
	<string>GitHub Desktop</string>
	<key>installer_item_hash</key>
	<string>be0bead9833959c0a654e4b88b1906390a77c7b73cd04a673fa675b00c90f686</string>
	<key>installer_item_location</key>
	<string>GitHub Desktop-3.2.3.dmg</string>
	<key>installer_item_size</key>
	<integer>124882</integer>
	<key>installer_type</key>
	<string>copy_from_dmg</string>
	<key>installs</key>
	<array>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.github.GitHubClient</string>
			<key>CFBundleName</key>
			<string>GitHub Desktop</string>
			<key>CFBundleShortVersionString</key>
			<string>3.2.3</string>
			<key>CFBundleVersion</key>
			<string>3.2.3</string>
			<key>minosversion</key>
			<string>10.13</string>
			<key>path</key>
			<string>/Applications/GitHub Desktop.app</string>
			<key>type</key>
			<string>application</string>
			<key>version_comparison_key</key>
			<string>CFBundleShortVersionString</string>
		</dict>
	</array>
	<key>items_to_copy</key>
	<array>
		<dict>
			<key>destination_path</key>
			<string>/Applications</string>
			<key>source_item</key>
			<string>GitHub Desktop.app</string>
		</dict>
	</array>
	<key>minimum_os_version</key>
	<string>10.13</string>
	<key>name</key>
	<string>GitHub Desktop</string>
	<key>postinstall_script</key>
	<string>#!/bin/bash

DEST_DIR="/usr/local/bin"

if [[ ! -d "$DEST_DIR" ]]; then
    mkdir -p "$DEST_DIR"
fi

ln -s "/Applications/GitHub Desktop.app/Contents/Resources/app/static/github.sh" "$DEST_DIR/github"

exit 0
</string>
	<key>preinstall_script</key>
	<string>#!/bin/bash

DEST_DIR="/usr/local/bin"

# Remove old symbolic links associated with pre-Electron version of GitHub Desktop.
if [[ -L "$DEST_DIR/git-lfs" ]]; then
    rm -f "$DEST_DIR/git-lfs"
fi

exit 0
</string>
	<key>supported_architectures</key>
	<array>
		<string>x86_64</string>
	</array>
	<key>unattended_install</key>
	<true/>
	<key>uninstall_method</key>
	<string>remove_copied_items</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>3.2.3</string>
</dict>
</plist>
