<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_metadata</key>
	<dict>
		<key>created_by</key>
		<string>runner</string>
		<key>creation_date</key>
		<date>2023-05-05T14:53:59Z</date>
		<key>munki_version</key>
		<string>6.3.1.4580</string>
		<key>os_version</key>
		<string>12.6.5</string>
	</dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>test</string>
	</array>
	<key>category</key>
	<string>Development</string>
	<key>description</key>
	<string>Powerful alternative to Terminal.app.</string>
	<key>developer</key>
	<string>George Nachman</string>
	<key>display_name</key>
	<string>iTerm2</string>
	<key>installer_item_hash</key>
	<string>9987bbc801ad2e726a834a1bd1a95bbe0e1a5c40e462a38e8a62809b23bbd70e</string>
	<key>installer_item_location</key>
	<string>iTerm2-3.4.19.dmg</string>
	<key>installer_item_size</key>
	<integer>23755</integer>
	<key>installer_type</key>
	<string>copy_from_dmg</string>
	<key>installs</key>
	<array>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.googlecode.iterm2</string>
			<key>CFBundleName</key>
			<string>iTerm2</string>
			<key>CFBundleShortVersionString</key>
			<string>3.4.19</string>
			<key>CFBundleVersion</key>
			<string>3.4.19</string>
			<key>minosversion</key>
			<string>10.14</string>
			<key>path</key>
			<string>/Applications/iTerm.app</string>
			<key>type</key>
			<string>application</string>
			<key>version_comparison_key</key>
			<string>CFBundleShortVersionString</string>
		</dict>
	</array>
	<key>items_to_copy</key>
	<array>
		<dict>
			<key>destination_path</key>
			<string>/Applications</string>
			<key>source_item</key>
			<string>iTerm.app</string>
		</dict>
	</array>
	<key>minimum_os_version</key>
	<string>10.14</string>
	<key>name</key>
	<string>iTerm2</string>
	<key>unattended_install</key>
	<true/>
	<key>uninstall_method</key>
	<string>remove_copied_items</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>3.4.19</string>
</dict>
</plist>
