<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_metadata</key>
	<dict>
		<key>created_by</key>
		<string>runner</string>
		<key>creation_date</key>
		<date>2023-05-05T14:52:22Z</date>
		<key>munki_version</key>
		<string>6.3.1.4580</string>
		<key>os_version</key>
		<string>12.6.5</string>
	</dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>test</string>
	</array>
	<key>category</key>
	<string>Development</string>
	<key>description</key>
	<string>Manage your JetBrains tools easily. Save time and effort maintaining your IDEs, by downloading a patch or a set of patches instead of the full package download. Everything updates in the background while you never stop coding.</string>
	<key>developer</key>
	<string>JetBrains s.r.o.</string>
	<key>display_name</key>
	<string>JetBrains Toolbox</string>
	<key>installer_item_hash</key>
	<string>e38e41c98509bcfde62764945eedd4f9cef0a2d7dd5695a61801e6e529307526</string>
	<key>installer_item_location</key>
	<string>JetBrainsToolbox-mac-1.28.1.15219.dmg</string>
	<key>installer_item_size</key>
	<integer>65409</integer>
	<key>installer_type</key>
	<string>copy_from_dmg</string>
	<key>installs</key>
	<array>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.jetbrains.toolbox</string>
			<key>CFBundleName</key>
			<string>JetBrains Toolbox</string>
			<key>CFBundleShortVersionString</key>
			<string>1.28.1.15219</string>
			<key>CFBundleVersion</key>
			<string>1.28.1.15219</string>
			<key>minosversion</key>
			<string>10.13.0</string>
			<key>path</key>
			<string>/Applications/JetBrains Toolbox.app</string>
			<key>type</key>
			<string>application</string>
			<key>version_comparison_key</key>
			<string>CFBundleShortVersionString</string>
		</dict>
	</array>
	<key>items_to_copy</key>
	<array>
		<dict>
			<key>destination_path</key>
			<string>/Applications</string>
			<key>source_item</key>
			<string>JetBrains Toolbox.app</string>
		</dict>
	</array>
	<key>minimum_os_version</key>
	<string>10.13.0</string>
	<key>name</key>
	<string>JetBrainsToolbox</string>
	<key>supported_architectures</key>
	<array>
		<string>x86_64</string>
	</array>
	<key>unattended_install</key>
	<true/>
	<key>unattended_uninstall</key>
	<true/>
	<key>uninstall_method</key>
	<string>remove_copied_items</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>1.28.1.15219</string>
</dict>
</plist>
