<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_metadata</key>
	<dict>
		<key>created_by</key>
		<string>runner</string>
		<key>creation_date</key>
		<date>2023-06-30T20:22:51Z</date>
		<key>munki_version</key>
		<string>6.3.1.4580</string>
		<key>os_version</key>
		<string>12.6.7</string>
	</dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>test</string>
	</array>
	<key>category</key>
	<string>Utilities</string>
	<key>description</key>
	<string>Keka is a free file archiver for macOS.</string>
	<key>developer</key>
	<string>aOne</string>
	<key>display_name</key>
	<string>Keka</string>
	<key>installer_item_hash</key>
	<string>f7586d87be6037aaaeaf3b464602c054359ac8d77f4c00d3d02be20cc5378181</string>
	<key>installer_item_location</key>
	<string>Keka-1.3.1.dmg</string>
	<key>installer_item_size</key>
	<integer>30057</integer>
	<key>installer_type</key>
	<string>copy_from_dmg</string>
	<key>installs</key>
	<array>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.aone.keka</string>
			<key>CFBundleName</key>
			<string>Keka</string>
			<key>CFBundleShortVersionString</key>
			<string>1.3.1</string>
			<key>CFBundleVersion</key>
			<string>5197</string>
			<key>minosversion</key>
			<string>10.10</string>
			<key>path</key>
			<string>/Applications/Keka.app</string>
			<key>type</key>
			<string>application</string>
			<key>version_comparison_key</key>
			<string>CFBundleShortVersionString</string>
		</dict>
	</array>
	<key>items_to_copy</key>
	<array>
		<dict>
			<key>destination_path</key>
			<string>/Applications</string>
			<key>source_item</key>
			<string>Keka.app</string>
		</dict>
	</array>
	<key>minimum_os_version</key>
	<string>10.10</string>
	<key>name</key>
	<string>Keka</string>
	<key>unattended_install</key>
	<true/>
	<key>uninstall_method</key>
	<string>remove_copied_items</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>1.3.1</string>
</dict>
</plist>
