<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_metadata</key>
	<dict>
		<key>created_by</key>
		<string>runner</string>
		<key>creation_date</key>
		<date>2023-05-05T14:56:24Z</date>
		<key>munki_version</key>
		<string>6.3.1.4580</string>
		<key>os_version</key>
		<string>12.6.5</string>
	</dict>
	<key>autoremove</key>
	<false/>
	<key>blocking_applications</key>
	<array>
		<string></string>
	</array>
	<key>catalogs</key>
	<array>
		<string>test</string>
	</array>
	<key>category</key>
	<string>Development</string>
	<key>description</key>
	<string>Mono is an open source implementation of Microsoft's .NET Framework based on the ECMA standards for C# and the Common Language Runtime. A growing family of solutions and an active and enthusiastic contributing community is helping position Mono to become the leading choice for development of cross platform applications.</string>
	<key>developer</key>
	<string>Mono Project</string>
	<key>display_name</key>
	<string>Mono Framework</string>
	<key>installed_size</key>
	<integer>1078251</integer>
	<key>installer_item_hash</key>
	<string>515b25097a53e8f5bf15585e5cc3e646b3a92e114e57bad2fd63370031931c1f</string>
	<key>installer_item_location</key>
	<string>MonoFramework-MDK-6.12.0.182.macos10.xamarin.universal-6.12.0.pkg</string>
	<key>installer_item_size</key>
	<integer>361016</integer>
	<key>minimum_os_version</key>
	<string>10.5.0</string>
	<key>name</key>
	<string>Mono</string>
	<key>receipts</key>
	<array>
		<dict>
			<key>installed_size</key>
			<integer>1078251</integer>
			<key>packageid</key>
			<string>com.xamarin.mono-MDK.pkg</string>
			<key>version</key>
			<string>6.12.0</string>
		</dict>
	</array>
	<key>unattended_install</key>
	<true/>
	<key>uninstall_method</key>
	<string>removepackages</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>6.12.0</string>
</dict>
</plist>
