<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_metadata</key>
	<dict>
		<key>created_by</key>
		<string>runner</string>
		<key>creation_date</key>
		<date>2023-06-30T20:23:11Z</date>
		<key>munki_version</key>
		<string>6.3.1.4580</string>
		<key>os_version</key>
		<string>12.6.7</string>
	</dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>test</string>
	</array>
	<key>category</key>
	<string>System</string>
	<key>description</key>
	<string>Core command-line tools used by Managed Software Center.</string>
	<key>developer</key>
	<string>The Munki Project</string>
	<key>display_name</key>
	<string>Managed Software Center core tools</string>
	<key>icon_name</key>
	<string>munkitools.png</string>
	<key>installed_size</key>
	<integer>1213</integer>
	<key>installer_item_hash</key>
	<string>67c042fc0a6969bdc62a7714e0c2449751bee4a2d6146e87370ac021db7ca517</string>
	<key>installer_item_location</key>
	<string>munkitools_core-6.3.2.4588.pkg</string>
	<key>installer_item_size</key>
	<integer>249</integer>
	<key>minimum_os_version</key>
	<string>10.13</string>
	<key>name</key>
	<string>munkitools_core</string>
	<key>receipts</key>
	<array>
		<dict>
			<key>installed_size</key>
			<integer>1213</integer>
			<key>packageid</key>
			<string>com.googlecode.munki.core</string>
			<key>version</key>
			<string>6.3.2.4588</string>
		</dict>
	</array>
	<key>requires</key>
	<array>
		<string>munkitools_python</string>
		<string>munkitools_launchd</string>
	</array>
	<key>unattended_install</key>
	<true/>
	<key>uninstall_method</key>
	<string>removepackages</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>6.3.2.4588</string>
</dict>
</plist>
