<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>RestartAction</key>
	<string>RequireRestart</string>
	<key>_metadata</key>
	<dict>
		<key>created_by</key>
		<string>runner</string>
		<key>creation_date</key>
		<date>2023-06-30T20:23:17Z</date>
		<key>munki_version</key>
		<string>6.3.1.4580</string>
		<key>os_version</key>
		<string>12.6.7</string>
	</dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>test</string>
	</array>
	<key>category</key>
	<string>System</string>
	<key>description</key>
	<string>launchd configuration files for use by Managed Software Center.</string>
	<key>developer</key>
	<string>The Munki Project</string>
	<key>display_name</key>
	<string>Managed Software Center launchd files</string>
	<key>icon_name</key>
	<string>munkitools.png</string>
	<key>installed_size</key>
	<integer>10</integer>
	<key>installer_item_hash</key>
	<string>829020aeac602118e7cf7e92739404ae111f95e071a317fcf3cb4a44b7167feb</string>
	<key>installer_item_location</key>
	<string>munkitools_launchd-3.0.3265.pkg</string>
	<key>installer_item_size</key>
	<integer>4</integer>
	<key>minimum_os_version</key>
	<string>10.13</string>
	<key>name</key>
	<string>munkitools_launchd</string>
	<key>receipts</key>
	<array>
		<dict>
			<key>installed_size</key>
			<integer>10</integer>
			<key>packageid</key>
			<string>com.googlecode.munki.launchd</string>
			<key>version</key>
			<string>3.0.3265</string>
		</dict>
	</array>
	<key>uninstall_method</key>
	<string>removepackages</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>3.0.3265</string>
</dict>
</plist>
