<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_metadata</key>
	<dict>
		<key>created_by</key>
		<string>runner</string>
		<key>creation_date</key>
		<date>2023-07-15T04:35:52Z</date>
		<key>munki_version</key>
		<string>6.3.1.4580</string>
		<key>os_version</key>
		<string>12.6.7</string>
	</dict>
	<key>autoremove</key>
	<false/>
	<key>blocking_applications</key>
	<array>
		<string>Microsoft Autoupdate</string>
		<string>Microsoft Outlook</string>
		<string>Microsoft Excel</string>
		<string>Microsoft PowerPoint</string>
		<string>Microsoft Word</string>
		<string>Microsoft OneNote</string>
	</array>
	<key>catalogs</key>
	<array>
		<string>test</string>
	</array>
	<key>category</key>
	<string>Productivity</string>
	<key>description</key>
	<string>Microsoft Office Suite includes the latest version of Word, Outlook, Excel, Powerpoint, Word and OneNote</string>
	<key>developer</key>
	<string>Microsoft</string>
	<key>display_name</key>
	<string>Microsoft Office Suite</string>
	<key>installed_size</key>
	<integer>10839210</integer>
	<key>installer_choices_xml</key>
	<array>
		<dict>
			<key>attributeSetting</key>
			<integer>0</integer>
			<key>choiceAttribute</key>
			<string>selected</string>
			<key>choiceIdentifier</key>
			<string>com.microsoft.OneDrive</string>
		</dict>
	</array>
	<key>installer_item_hash</key>
	<string>17bfbf5a5eb4756094172e14d3a6667bf41d396d082fd03b2d395013bc5310d4</string>
	<key>installer_item_location</key>
	<string>Microsoft_Office_Suite_16.75.0.pkg</string>
	<key>installer_item_size</key>
	<integer>2168825</integer>
	<key>minimum_os_version</key>
	<string>11.0</string>
	<key>name</key>
	<string>Office2019Suite</string>
	<key>preinstall_alert</key>
	<dict>
		<key>alert_detail</key>
		<string>You must contact IT Support to request a license for this software.</string>
		<key>alert_title</key>
		<string>Licensed Software</string>
		<key>cancel_label</key>
		<string>Cancel</string>
		<key>ok_label</key>
		<string>Install</string>
	</dict>
	<key>receipts</key>
	<array>
		<dict>
			<key>installed_size</key>
			<integer>487456</integer>
			<key>packageid</key>
			<string>com.microsoft.package.Microsoft_Word.app</string>
			<key>version</key>
			<string>16.75.23070901</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>583216</integer>
			<key>packageid</key>
			<string>com.microsoft.package.Microsoft_Excel.app</string>
			<key>version</key>
			<string>16.75.23070901</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>285581</integer>
			<key>packageid</key>
			<string>com.microsoft.package.Microsoft_PowerPoint.app</string>
			<key>version</key>
			<string>16.75.23070901</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>98948</integer>
			<key>packageid</key>
			<string>com.microsoft.package.Microsoft_OneNote.app</string>
			<key>version</key>
			<string>16.75.23070901</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>217439</integer>
			<key>packageid</key>
			<string>com.microsoft.package.Microsoft_Outlook.app</string>
			<key>version</key>
			<string>16.75.23070901</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>1111972</integer>
			<key>optional</key>
			<true/>
			<key>packageid</key>
			<string>com.microsoft.OneDrive</string>
			<key>version</key>
			<string>23.114.530</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>12635</integer>
			<key>packageid</key>
			<string>com.microsoft.package.Microsoft_AutoUpdate.app</string>
			<key>version</key>
			<string>4.61.23070901</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>1727</integer>
			<key>packageid</key>
			<string>com.microsoft.pkg.licensing</string>
			<key>version</key>
			<string>16.75.23070901</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>2207308</integer>
			<key>packageid</key>
			<string>com.microsoft.package.DFonts</string>
			<key>version</key>
			<string>0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>3874352</integer>
			<key>packageid</key>
			<string>com.microsoft.package.Frameworks</string>
			<key>version</key>
			<string>0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>1958576</integer>
			<key>packageid</key>
			<string>com.microsoft.package.Proofing_Tools</string>
			<key>version</key>
			<string>0</string>
		</dict>
	</array>
	<key>unattended_install</key>
	<true/>
	<key>uninstall_method</key>
	<string>removepackages</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>16.75.0</string>
</dict>
</plist>
