<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_metadata</key>
	<dict>
		<key>created_by</key>
		<string>runner</string>
		<key>creation_date</key>
		<date>2023-05-05T15:04:14Z</date>
		<key>munki_version</key>
		<string>6.3.1.4580</string>
		<key>os_version</key>
		<string>12.6.5</string>
	</dict>
	<key>autoremove</key>
	<false/>
	<key>blocking_applications</key>
	<array>
		<string>Microsoft Autoupdate</string>
		<string>Microsoft Outlook</string>
		<string>Microsoft Excel</string>
		<string>Microsoft PowerPoint</string>
		<string>Microsoft Word</string>
		<string>Microsoft OneNote</string>
	</array>
	<key>catalogs</key>
	<array>
		<string>test</string>
	</array>
	<key>category</key>
	<string>Productivity</string>
	<key>description</key>
	<string>Microsoft Office Suite includes the latest version of Word, Outlook, Excel, Powerpoint, Word and OneNote</string>
	<key>developer</key>
	<string>Microsoft</string>
	<key>display_name</key>
	<string>Microsoft Office Suite</string>
	<key>installed_size</key>
	<integer>10541489</integer>
	<key>installer_choices_xml</key>
	<array>
		<dict>
			<key>attributeSetting</key>
			<integer>0</integer>
			<key>choiceAttribute</key>
			<string>selected</string>
			<key>choiceIdentifier</key>
			<string>com.microsoft.OneDrive</string>
		</dict>
	</array>
	<key>installer_item_hash</key>
	<string>296537863427f4b9a8f8e735c77f27496ec28cdd49d30f038d71b76af4406b1d</string>
	<key>installer_item_location</key>
	<string>Microsoft_Office_Suite_16.72.0.pkg</string>
	<key>installer_item_size</key>
	<integer>2105429</integer>
	<key>minimum_os_version</key>
	<string>11.0</string>
	<key>name</key>
	<string>Office2019Suite</string>
	<key>preinstall_alert</key>
	<dict>
		<key>alert_detail</key>
		<string>You must contact IT Support to request a license for this software.</string>
		<key>alert_title</key>
		<string>Licensed Software</string>
		<key>cancel_label</key>
		<string>Cancel</string>
		<key>ok_label</key>
		<string>Install</string>
	</dict>
	<key>receipts</key>
	<array>
		<dict>
			<key>installed_size</key>
			<integer>473509</integer>
			<key>packageid</key>
			<string>com.microsoft.package.Microsoft_Word.app</string>
			<key>version</key>
			<string>16.72.23040900</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>561398</integer>
			<key>packageid</key>
			<string>com.microsoft.package.Microsoft_Excel.app</string>
			<key>version</key>
			<string>16.72.23040900</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>280513</integer>
			<key>packageid</key>
			<string>com.microsoft.package.Microsoft_PowerPoint.app</string>
			<key>version</key>
			<string>16.72.23040900</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>97228</integer>
			<key>packageid</key>
			<string>com.microsoft.package.Microsoft_OneNote.app</string>
			<key>version</key>
			<string>16.72.23040900</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>212156</integer>
			<key>packageid</key>
			<string>com.microsoft.package.Microsoft_Outlook.app</string>
			<key>version</key>
			<string>16.72.23040900</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>1041321</integer>
			<key>optional</key>
			<true/>
			<key>packageid</key>
			<string>com.microsoft.OneDrive</string>
			<key>version</key>
			<string>23.54.313</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>13160</integer>
			<key>packageid</key>
			<string>com.microsoft.package.Microsoft_AutoUpdate.app</string>
			<key>version</key>
			<string>4.58.23040900</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>1724</integer>
			<key>packageid</key>
			<string>com.microsoft.pkg.licensing</string>
			<key>version</key>
			<string>16.72.23040900</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>2048504</integer>
			<key>packageid</key>
			<string>com.microsoft.package.DFonts</string>
			<key>version</key>
			<string>0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>3852248</integer>
			<key>packageid</key>
			<string>com.microsoft.package.Frameworks</string>
			<key>version</key>
			<string>0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>1959728</integer>
			<key>packageid</key>
			<string>com.microsoft.package.Proofing_Tools</string>
			<key>version</key>
			<string>0</string>
		</dict>
	</array>
	<key>unattended_install</key>
	<true/>
	<key>uninstall_method</key>
	<string>removepackages</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>16.72.0</string>
</dict>
</plist>
