<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_metadata</key>
	<dict>
		<key>created_by</key>
		<string>runner</string>
		<key>creation_date</key>
		<date>2023-05-05T20:50:17Z</date>
		<key>munki_version</key>
		<string>6.3.1.4580</string>
		<key>os_version</key>
		<string>12.6.5</string>
	</dict>
	<key>autoremove</key>
	<false/>
	<key>blocking_applications</key>
	<array>
		<string>PlasticSCM.app</string>
	</array>
	<key>catalogs</key>
	<array>
		<string>test</string>
	</array>
	<key>category</key>
	<string>Development</string>
	<key>description</key>
	<string>Plastic SCM is now Unity Version Control, a component of Unity DevOps. Unity Version Control is a scalable, engine-agnostic version control and source code management tool for game development studios of all sizes.</string>
	<key>developer</key>
	<string>Unity Technologies</string>
	<key>display_name</key>
	<string>PlasticSCM - Cloud Edition</string>
	<key>icon_name</key>
	<string>PlasticSCM.png</string>
	<key>installed_size</key>
	<integer>864062</integer>
	<key>installer_item_hash</key>
	<string>db12727ca0a2043069db309a26bf78ab44818b9ff5c0468241e4a1c11d1d7710</string>
	<key>installer_item_location</key>
	<string>PlasticSCM-cloud-11.0.16.7957.dmg</string>
	<key>installer_item_size</key>
	<integer>393066</integer>
	<key>minimum_os_version</key>
	<string>10.5.0</string>
	<key>name</key>
	<string>PlasticSCM-cloud</string>
	<key>receipts</key>
	<array>
		<dict>
			<key>installed_size</key>
			<integer>248136</integer>
			<key>packageid</key>
			<string>com.codicesoftware.plasticscm.server</string>
			<key>version</key>
			<string>11.0.16.7957</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>615926</integer>
			<key>packageid</key>
			<string>com.codicesoftware.plasticscm.macplastic</string>
			<key>version</key>
			<string>11.0.16.7957</string>
		</dict>
	</array>
	<key>unattended_install</key>
	<true/>
	<key>uninstall_method</key>
	<string>removepackages</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>11.0.16.7957</string>
</dict>
</plist>
