<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_metadata</key>
	<dict>
		<key>created_by</key>
		<string>runner</string>
		<key>creation_date</key>
		<date>2023-07-20T01:16:21Z</date>
		<key>munki_version</key>
		<string>6.3.1.4580</string>
		<key>os_version</key>
		<string>12.6.7</string>
	</dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>test</string>
	</array>
	<key>category</key>
	<string>Development</string>
	<key>description</key>
	<string>A cross-platform .NET IDE based on the IntelliJ platform and ReSharper</string>
	<key>developer</key>
	<string>JetBrains</string>
	<key>display_name</key>
	<string>Rider</string>
	<key>installer_item_hash</key>
	<string>5f1fc9acebd587902908e310a97ff4e0fb12e6d840584618ffff6102d756d703</string>
	<key>installer_item_location</key>
	<string>JetBrains.Rider-2023.1.4.dmg</string>
	<key>installer_item_size</key>
	<integer>1065222</integer>
	<key>installer_type</key>
	<string>copy_from_dmg</string>
	<key>installs</key>
	<array>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.jetbrains.rider</string>
			<key>CFBundleName</key>
			<string>JetBrains Rider</string>
			<key>CFBundleShortVersionString</key>
			<string>2023.1.4</string>
			<key>CFBundleVersion</key>
			<string>RD-231.9225.23</string>
			<key>minosversion</key>
			<string>10.8</string>
			<key>path</key>
			<string>/Applications/Rider.app</string>
			<key>type</key>
			<string>application</string>
			<key>version_comparison_key</key>
			<string>CFBundleShortVersionString</string>
		</dict>
	</array>
	<key>items_to_copy</key>
	<array>
		<dict>
			<key>destination_path</key>
			<string>/Applications</string>
			<key>source_item</key>
			<string>Rider.app</string>
		</dict>
	</array>
	<key>minimum_os_version</key>
	<string>10.8</string>
	<key>name</key>
	<string>Rider</string>
	<key>supported_architectures</key>
	<array>
		<string>%ARCHITECTURE%</string>
	</array>
	<key>unattended_install</key>
	<true/>
	<key>unattended_uninstall</key>
	<true/>
	<key>uninstall_method</key>
	<string>remove_copied_items</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>2023.1.4</string>
</dict>
</plist>
