<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_metadata</key>
	<dict>
		<key>created_by</key>
		<string>runner</string>
		<key>creation_date</key>
		<date>2023-07-20T01:16:27Z</date>
		<key>munki_version</key>
		<string>6.3.1.4580</string>
		<key>os_version</key>
		<string>12.6.7</string>
	</dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>test</string>
	</array>
	<key>category</key>
	<string>Entertainment</string>
	<key>description</key>
	<string>Spotify is a music streaming service offering unlimited streaming of selected music from a range of major and independent record labels.</string>
	<key>developer</key>
	<string>Spotify</string>
	<key>display_name</key>
	<string>Spotify</string>
	<key>installer_item_hash</key>
	<string>867d68deb7d4a349c3dcad4eb405f637664a2eb982f4ccfbc84b3ed40efbe201</string>
	<key>installer_item_location</key>
	<string>Spotify-x86_64-1.2.16.947.gcfbaa410.dmg</string>
	<key>installer_item_size</key>
	<integer>119624</integer>
	<key>installer_type</key>
	<string>copy_from_dmg</string>
	<key>installs</key>
	<array>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.spotify.client</string>
			<key>CFBundleName</key>
			<string>Spotify</string>
			<key>CFBundleShortVersionString</key>
			<string>1.2.16.947.gcfbaa410</string>
			<key>CFBundleVersion</key>
			<string>1.2.16.947.gcfbaa410-105</string>
			<key>minosversion</key>
			<string>10.13.0</string>
			<key>path</key>
			<string>/Applications/Spotify.app</string>
			<key>type</key>
			<string>application</string>
			<key>version_comparison_key</key>
			<string>CFBundleShortVersionString</string>
		</dict>
	</array>
	<key>items_to_copy</key>
	<array>
		<dict>
			<key>destination_path</key>
			<string>/Applications</string>
			<key>source_item</key>
			<string>Spotify.app</string>
		</dict>
	</array>
	<key>minimum_os_version</key>
	<string>10.13.0</string>
	<key>name</key>
	<string>Spotify</string>
	<key>postinstall_script</key>
	<string>#!/bin/bash
				# Add directory traversal for the entire application and ensure
				# all executables are executable by group and other
				/bin/chmod -R go+rX /Applications/Spotify.app
			</string>
	<key>supported_architectures</key>
	<array>
		<string>x86_64</string>
	</array>
	<key>unattended_install</key>
	<true/>
	<key>uninstall_method</key>
	<string>remove_copied_items</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>1.2.16.947.gcfbaa410</string>
</dict>
</plist>
