<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_metadata</key>
	<dict>
		<key>created_by</key>
		<string>runner</string>
		<key>creation_date</key>
		<date>2023-07-05T16:01:05Z</date>
		<key>munki_version</key>
		<string>6.3.1.4580</string>
		<key>os_version</key>
		<string>12.6.7</string>
	</dict>
	<key>autoremove</key>
	<false/>
	<key>blocking_applications</key>
	<array/>
	<key>catalogs</key>
	<array>
		<string>test</string>
	</array>
	<key>category</key>
	<string>Utilities</string>
	<key>description</key>
	<string>All-In-One Solution for Remote Access and Support over the Internet.</string>
	<key>developer</key>
	<string>TeamViewer GmbH</string>
	<key>display_name</key>
	<string>TeamViewer</string>
	<key>installed_size</key>
	<integer>338627</integer>
	<key>installer_item_hash</key>
	<string>13e12a77b8f337ed03614262913d666341dd2ea104b1073c3a854fb0fdaacc0a</string>
	<key>installer_item_location</key>
	<string>TeamViewer-15.43.7.pkg</string>
	<key>installer_item_size</key>
	<integer>79181</integer>
	<key>installs</key>
	<array>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.teamviewer.TeamViewer</string>
			<key>CFBundleName</key>
			<string>TeamViewer</string>
			<key>CFBundleShortVersionString</key>
			<string>15.43.7</string>
			<key>CFBundleVersion</key>
			<string>1</string>
			<key>minosversion</key>
			<string>10.15.7</string>
			<key>path</key>
			<string>/Applications/TeamViewer.app</string>
			<key>type</key>
			<string>application</string>
			<key>version_comparison_key</key>
			<string>CFBundleShortVersionString</string>
		</dict>
	</array>
	<key>minimum_os_version</key>
	<string>10.15.7</string>
	<key>name</key>
	<string>TeamViewer</string>
	<key>postinstall_script</key>
	<string>#!/bin/sh
## postinstall script

# Clean the tmp file created at preinstall phase.

sudo rm -rf /tmp/tvonlystartservice
			</string>
	<key>postuninstall_script</key>
	<string>#!/bin/bash
rm -rf /Applications/TeamViewer.app
			</string>
	<key>preinstall_script</key>
	<string>#!/bin/sh
## preinstall script

# Set TeamViewer to only restart the service
# after installation, achieved by creating the
# following file

echo "1" &gt; /tmp/tvonlystartservice
			</string>
	<key>receipts</key>
	<array>
		<dict>
			<key>installed_size</key>
			<integer>2052</integer>
			<key>packageid</key>
			<string>com.teamviewer.teamviewerPriviledgedHelper</string>
			<key>version</key>
			<string>15.43.7</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>327192</integer>
			<key>packageid</key>
			<string>com.teamviewer.teamviewer</string>
			<key>version</key>
			<string>15.43.7</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>390</integer>
			<key>packageid</key>
			<string>com.teamviewer.AuthorizationPlugin</string>
			<key>version</key>
			<string>15.43.7</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>636</integer>
			<key>packageid</key>
			<string>com.teamviewer.RemotePrintingPackage</string>
			<key>version</key>
			<string>1.1</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>529</integer>
			<key>packageid</key>
			<string>com.teamviewer.remoteaudiodriver</string>
			<key>version</key>
			<string>1.0.4</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>0</integer>
			<key>packageid</key>
			<string>com.teamviewer.teamviewerEnforceUIVersion</string>
			<key>version</key>
			<string>15.43.7</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>0</integer>
			<key>packageid</key>
			<string>com.teamviewer.teamviewerSilentInstaller</string>
			<key>version</key>
			<string>15.43.7</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>2075</integer>
			<key>packageid</key>
			<string>com.teamviewer.teamviewerUninstallerHelper</string>
			<key>version</key>
			<string>15.43.7</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>5753</integer>
			<key>packageid</key>
			<string>TeamViewerUninstaller</string>
			<key>version</key>
			<string>15.43.7</string>
		</dict>
	</array>
	<key>unattended_install</key>
	<true/>
	<key>unattended_uninstall</key>
	<true/>
	<key>uninstall_method</key>
	<string>removepackages</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>15.43.7</string>
</dict>
</plist>
