<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_metadata</key>
	<dict>
		<key>created_by</key>
		<string>runner</string>
		<key>creation_date</key>
		<date>2023-05-05T15:23:43Z</date>
		<key>munki_version</key>
		<string>6.3.1.4580</string>
		<key>os_version</key>
		<string>12.6.5</string>
	</dict>
	<key>autoremove</key>
	<false/>
	<key>blocking_applications</key>
	<array>
		<string>Snagit</string>
		<string>SnagitAppleScriptExecutor</string>
		<string>SnagitHelper</string>
	</array>
	<key>catalogs</key>
	<array>
		<string>test</string>
	</array>
	<key>category</key>
	<string>Utilities</string>
	<key>description</key>
	<string>Use images and videos to show people exactly what you're seeing. Snagit gives you an easy way to quickly provide better feedback, create clear documentation, and change the way you work together.</string>
	<key>developer</key>
	<string>TechSmith</string>
	<key>display_name</key>
	<string>Snagit</string>
	<key>installer_item_hash</key>
	<string>8def99c0745a5678ffcd58fbc3d5b60801256efc17e19018b309fb91257d8a80</string>
	<key>installer_item_location</key>
	<string>TechSmithSnagit-2023.1.3.dmg</string>
	<key>installer_item_size</key>
	<integer>217047</integer>
	<key>installer_type</key>
	<string>copy_from_dmg</string>
	<key>installs</key>
	<array>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.TechSmith.Snagit2023</string>
			<key>CFBundleName</key>
			<string>Snagit</string>
			<key>CFBundleShortVersionString</key>
			<string>2023.1.3</string>
			<key>CFBundleVersion</key>
			<string>98226</string>
			<key>minosversion</key>
			<string>11.0</string>
			<key>path</key>
			<string>/Applications/Snagit 2023.app</string>
			<key>type</key>
			<string>application</string>
			<key>version_comparison_key</key>
			<string>CFBundleShortVersionString</string>
		</dict>
	</array>
	<key>items_to_copy</key>
	<array>
		<dict>
			<key>destination_path</key>
			<string>/Applications</string>
			<key>source_item</key>
			<string>Snagit 2023.app</string>
		</dict>
	</array>
	<key>minimum_os_version</key>
	<string>10.9</string>
	<key>name</key>
	<string>TechSmithSnagit</string>
	<key>preinstall_script</key>
	<string>#!/bin/sh

# Remove previous version of Snagit from /Applications

if [ -d "/Applications/Snagit.app" ]; then
	/bin/rm -rf "/Applications/Snagit.app"
fi
</string>
	<key>unattended_install</key>
	<true/>
	<key>unattended_uninstall</key>
	<true/>
	<key>uninstall_method</key>
	<string>remove_copied_items</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>2023.1.3</string>
</dict>
</plist>
