<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_metadata</key>
	<dict>
		<key>created_by</key>
		<string>runner</string>
		<key>creation_date</key>
		<date>2023-06-21T22:49:34Z</date>
		<key>munki_version</key>
		<string>6.3.1.4580</string>
		<key>os_version</key>
		<string>12.6.6</string>
	</dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>test</string>
	</array>
	<key>category</key>
	<string>Development</string>
	<key>description</key>
	<string>The Unity Hub is a standalone application that streamlines the way you find, download, and manage your Unity Projects and installations. In addition, you can manually add versions of the Editor that you have already installed on your machine to your Hub. NOTE: this will always install the latest version of the Unity Hub application and keep it updated. If you need specific version(s) for testing make sure to uninstall this version via Managed Software Center.</string>
	<key>developer</key>
	<string>Unity</string>
	<key>display_name</key>
	<string>Unity Hub</string>
	<key>installer_item_hash</key>
	<string>f247839350fad57c52c54ea522bd979ed84ffadf578cb353dc0be0a244a056bd</string>
	<key>installer_item_location</key>
	<string>UnityHub-3.5.0.dmg</string>
	<key>installer_item_size</key>
	<integer>146411</integer>
	<key>installer_type</key>
	<string>copy_from_dmg</string>
	<key>installs</key>
	<array>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.unity3d.unityhub</string>
			<key>CFBundleName</key>
			<string>Unity Hub</string>
			<key>CFBundleShortVersionString</key>
			<string>3.5.0</string>
			<key>CFBundleVersion</key>
			<string>3.5.0</string>
			<key>minosversion</key>
			<string>10.13</string>
			<key>path</key>
			<string>/Applications/Unity Hub.app</string>
			<key>type</key>
			<string>application</string>
			<key>version_comparison_key</key>
			<string>CFBundleShortVersionString</string>
		</dict>
	</array>
	<key>items_to_copy</key>
	<array>
		<dict>
			<key>destination_path</key>
			<string>/Applications</string>
			<key>source_item</key>
			<string>Unity Hub.app</string>
		</dict>
	</array>
	<key>minimum_os_version</key>
	<string>10.13</string>
	<key>name</key>
	<string>UnityHub</string>
	<key>unattended_install</key>
	<true/>
	<key>uninstall_method</key>
	<string>remove_copied_items</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>3.5.0</string>
</dict>
</plist>
