<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_metadata</key>
	<dict>
		<key>created_by</key>
		<string>runner</string>
		<key>creation_date</key>
		<date>2023-07-15T04:44:30Z</date>
		<key>munki_version</key>
		<string>6.3.1.4580</string>
		<key>os_version</key>
		<string>12.6.7</string>
	</dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>test</string>
	</array>
	<key>category</key>
	<string>Text Editors</string>
	<key>description</key>
	<string>Code combines the streamlined UI of a modern editor with rich code assistance and navigation, and an integrated debugging experience – without the need for a full IDE.</string>
	<key>developer</key>
	<string>Microsoft</string>
	<key>display_name</key>
	<string>Visual Studio Code</string>
	<key>installer_item_hash</key>
	<string>e4a57f2081ffc85b80cdf8e0d0ed75e9480a8468306c3ef61e7e62bde14c8637</string>
	<key>installer_item_location</key>
	<string>VisualStudioCode-1.80.1.dmg</string>
	<key>installer_item_size</key>
	<integer>211147</integer>
	<key>installer_type</key>
	<string>copy_from_dmg</string>
	<key>installs</key>
	<array>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.microsoft.VSCode</string>
			<key>CFBundleName</key>
			<string>Code</string>
			<key>CFBundleShortVersionString</key>
			<string>1.80.1</string>
			<key>CFBundleVersion</key>
			<string>1.80.1</string>
			<key>minosversion</key>
			<string>10.13</string>
			<key>path</key>
			<string>/Applications/Visual Studio Code.app</string>
			<key>type</key>
			<string>application</string>
			<key>version_comparison_key</key>
			<string>CFBundleShortVersionString</string>
		</dict>
	</array>
	<key>items_to_copy</key>
	<array>
		<dict>
			<key>destination_path</key>
			<string>/Applications</string>
			<key>source_item</key>
			<string>Visual Studio Code.app</string>
		</dict>
	</array>
	<key>minimum_os_version</key>
	<string>10.13</string>
	<key>name</key>
	<string>VisualStudioCode</string>
	<key>postinstall_script</key>
	<string>#!/bin/bash
current_user=$(/usr/local/munki/munki-python -c 'from SystemConfiguration import SCDynamicStoreCopyConsoleUser; import sys; username = (SCDynamicStoreCopyConsoleUser(None, None, None) or [None])[0]; username = [username,""][username in [u"loginwindow", None, u""]]; sys.stdout.write(username + "\n");')
/usr/sbin/chown -R $current_user:admin "/Applications/Visual Studio Code.app"</string>
	<key>unattended_install</key>
	<true/>
	<key>uninstall_method</key>
	<string>remove_copied_items</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>1.80.1</string>
</dict>
</plist>
