<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_metadata</key>
	<dict>
		<key>created_by</key>
		<string>runner</string>
		<key>creation_date</key>
		<date>2023-05-05T15:06:14Z</date>
		<key>munki_version</key>
		<string>6.3.1.4580</string>
		<key>os_version</key>
		<string>12.6.5</string>
	</dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>test</string>
	</array>
	<key>category</key>
	<string>Entertainment</string>
	<key>description</key>
	<string>VLC is a free and open source cross-platform multimedia player and framework that plays most multimedia files as well as DVD, Audio CD, VCD, and various streaming protocols.</string>
	<key>developer</key>
	<string>The VideoLAN Project</string>
	<key>display_name</key>
	<string>VLC Media Player</string>
	<key>installer_item_hash</key>
	<string>0e66accce5381f3e671e19fe102631c006b5f0b2cc7909fabc511d597b76c0c0</string>
	<key>installer_item_location</key>
	<string>VLC-3.0.18.dmg</string>
	<key>installer_item_size</key>
	<integer>82509</integer>
	<key>installer_type</key>
	<string>copy_from_dmg</string>
	<key>installs</key>
	<array>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>org.videolan.vlc</string>
			<key>CFBundleName</key>
			<string>VLC media player</string>
			<key>CFBundleShortVersionString</key>
			<string>3.0.18</string>
			<key>CFBundleVersion</key>
			<string>3.0.18</string>
			<key>minosversion</key>
			<string>10.7.5</string>
			<key>path</key>
			<string>/Applications/VLC.app</string>
			<key>type</key>
			<string>application</string>
			<key>version_comparison_key</key>
			<string>CFBundleShortVersionString</string>
		</dict>
	</array>
	<key>items_to_copy</key>
	<array>
		<dict>
			<key>destination_path</key>
			<string>/Applications</string>
			<key>source_item</key>
			<string>VLC.app</string>
		</dict>
	</array>
	<key>minimum_os_version</key>
	<string>10.7.5</string>
	<key>name</key>
	<string>VLC</string>
	<key>supported_architectures</key>
	<array>
		<string>arm64</string>
		<string>x86_64</string>
	</array>
	<key>unattended_install</key>
	<true/>
	<key>uninstall_method</key>
	<string>remove_copied_items</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>3.0.18</string>
</dict>
</plist>
