<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.automunki.agent</string>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/local/bin/python3</string>
		<string>/usr/local/munki/automunki_agent.py</string>
	</array>
	<key>WatchPaths</key>
	<array>
		<string>/Library/Managed Installs/Logs/ManagedSoftwareUpdate.log</string>
	</array>
	<key>StandardOutPath</key>
	<string>/var/log/automunki_agent.log</string>
	<key>StandardErrorPath</key>
	<string>/var/log/automunki_agent.log</string>
</dict>
</plist>
