name: AutoPkg run

on:
  workflow_dispatch: # manually triggered
    inputs:
      recipe:
        description: Recipe to Run (optional)
        required: false

jobs:
  AutoPkg:
    runs-on: macos-latest
    timeout-minutes: 150 # Keeps your builds from running too long
    env:
      MUNKI_VERSION: 6.3.1
      MUNKI_EXPLICIT_VERSION: 6.3.1.4580
      AUTOPKG_VERSION: 2.7.2
    steps:
    - name: Checkout this repo
      uses: actions/checkout@v3
      with:
        token: ${{ secrets.RW_REPO_TOKEN }}

    - name: Install Munki
      uses: joncrain/macos-pkg-install@v1.0
      with:
        pkg_url: https://github.com/munki/munki/releases/download/v${{ env.MUNKI_VERSION }}/munkitools-${{ env.MUNKI_EXPLICIT_VERSION }}.pkg

    - name: Install AutoPkg
      uses: joncrain/macos-pkg-install@v1.0
      with:
        pkg_url: https://github.com/autopkg/autopkg/releases/download/v${{ env.AUTOPKG_VERSION }}/autopkg-${{ env.AUTOPKG_VERSION }}.pkg

    - name: Configure AutoPkg
      run: |
        /usr/bin/defaults write com.github.autopkg RECIPE_OVERRIDE_DIRS "$GITHUB_WORKSPACE"/autopkg_src/overrides/
        /usr/bin/defaults write com.github.autopkg RECIPE_REPO_DIR "$GITHUB_WORKSPACE"/autopkg_src/repos/
        /usr/bin/defaults write com.github.autopkg FAIL_RECIPES_WITHOUT_TRUST_INFO -bool YES
        /usr/bin/defaults write com.github.autopkg MUNKI_REPO "$GITHUB_WORKSPACE"
        /usr/bin/defaults write com.github.autopkg GITHUB_TOKEN "${{ secrets.RW_REPO_TOKEN }}"
        /bin/mkdir ./pkgs/
        /bin/mkdir -p /var/tmp/autopkg/
        /usr/bin/git config --global user.name "runner"
        /usr/bin/git config --global user.email "runner@githubactions.local"
        /bin/mkdir -p /Users/runner/Library/AutoPkg/
        /bin/ln -s "$GITHUB_WORKSPACE"/autopkg_src/Recipes /Users/runner/Library/AutoPkg/

    - name: Configure AutoPkg Repos
      run: |
        for repo in $(/bin/cat ./autopkg_src/repo_list.txt); do /usr/local/bin/autopkg repo-add "$repo"; done

    - name: Run makecatalogs
      run: /usr/local/munki/makecatalogs ./ -s

    - name: Run AutoPkg
      run: |
        pip3 install -r ./autopkg_src/requirements.txt
        python3 ./autopkg_src/autopkg_tools.py -l ./autopkg_src/recipe_list.json
      env:
        RECIPE: ${{ github.event.inputs.recipe }}
        SUMMARY_WEBHOOK_TOKEN: ${{ secrets.SUMMARY_WEBHOOK_TOKEN }}
        GITHUB_TOKEN: ${{ secrets.RW_REPO_TOKEN }}
        MUNKI_WEBSITE: ${{ secrets.MUNKI_WEBSITE }}

    - name: Commit autopkg_metadata
      run: |
        /bin/cp /private/tmp/autopkg_metadata.json "$GITHUB_WORKSPACE"/autopkg_src/autopkg_metadata.json
        /usr/bin/git checkout -b autopkg-metadata
        /usr/bin/git add "$GITHUB_WORKSPACE"/autopkg_src/autopkg_metadata.json
        /usr/bin/git commit -m "Update autopkg_metadata.json"
        /usr/bin/git push --set-upstream origin autopkg-metadata
      env:
        GITHUB_TOKEN: ${{ secrets.RW_REPO_TOKEN }}

    # - name: Configure AWS credentials
    #   if: always()
    #   uses: aws-actions/configure-aws-credentials@v2
    #   with:
    #     aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
    #     aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
    #     aws-region: us-east-1


    # - name: Push packages to Storage Bucket
    #   if: always()
    #   run: |
    #     aws s3 sync ./pkgs/ s3://${{secrets.AWS_S3_BUCKET}}/pkgs/

    - name: Gather Logs
      run: |
        /usr/bin/tar -czvf /var/tmp/autopkg.tar.gz /var/tmp/autopkg/

    - name: Upload log file
      uses: actions/upload-artifact@v3
      with:
        name: autopkg_log
        path: /var/tmp/autopkg.tar.gz
